<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 首页</title>    
    <meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__CSS__/layui.css" media="all">	
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
     <style>
     	.layui-carousel img{ width: 100%;height: 150px;}
     	.subscribe{ 
     		padding: 10px 0;
     		color: red;
     		font-size: 15px;
     		text-align: center;
     		width: 90%;
     		margin: 0 auto;
     	}
		.xs25{ width:19.8%; display:inline-block;}
     	.cate{
     		padding: 10px 0;
     		font-size: 13px;     		
     		text-align: center;
     	}
     	.cate img{ width: 40px;height: 40px; margin-bottom:10px; border-radius:50%;  }
     	
     	
     	.morendian,
     	.hongbaodian{width: 99%;margin: 0 auto;}
     	.morendian img,
     	.hongbaodian img{width: 95px;height: 95px; border-radius:5px;}
     	.morendian .layui-row,
     	.hongbaodian .layui-row{
     		height: 95px;
     		margin-bottom: 10px;
     		padding-bottom: 10px;
     		border-bottom: 1px solid #F0F0F0;
     	}
		.mt5{ margin-top:7px;}
     	.text-right{text-align:right;}
     	.addr{ font-size:14px; color:#999;}
		.desp{font-size:14px; color:#999;}
		.stitle{ font-size:15px; color:#000; font-weight:bold;}
		.orange{ color: #3CC; font-size:12px;}
		.jl{ color:#666; font-size:12px;}
		.hb{ font-size:8px; color: #fff; background-color: #F33; padding:2px;  display:inline-block; border-radius:3px;}
		.gline{ width:100%; height:5px; background-color:#eaeaea;}
		.layui-this{ color:#F60;}
     </style>
</head>
<body>
	<if condition="$user.subscribe != 1">
		<div class="subscribe">为方便后续操作，请点击关注</div>
	</if>
	
	<div class="layui-carousel" id="lunbo" lay-filter="lunbo">
	  <div carousel-item="">
	    <div><img src="__PUBLIC__/ban.jpg"></div>
	    <div><img src="__PUBLIC__/ban1.jpg"></div>
	  </div>
	</div> 
	
	<div class="layui-row">
		<foreach name="cates" item="vo" >
			<div class="cate xs25" cateid="{$vo.id}" >
				<div><img src="{$vo.path}" /></div>
		    	<div>{$vo.title}</div>
		    </div>
		</foreach>
		<div class="cate xs25" cateid="1" >
			<div><img src="/Uploads/Picture/2017-11-10/5a05465fe5725.jpg" /></div>
	    	<div>更多</div>
	    </div>
		
  	</div>
	
    <div class="gline"></div>
    
	<div class="layui-tab layui-tab-card" style="margin-top:0;">
	  <ul class="layui-tab-title">
	    <li class="layui-this">推荐店铺</li>
	    <li>附近店铺</li>
         <li>最新店铺</li>
	  </ul>
	  <div class="layui-tab-content">
	    <div class="layui-tab-item layui-show">
	      	
	      	<div class="morendian">
	      		<foreach name="tjs" item="vo" >
				<div class="layui-row open" data-id="{$vo.id}">
				    <div class="layui-col-xs4"><img src="{$vo.path}" /></div>
			    	<div class="layui-col-xs8">
                    <p class="layui-col-xs10 stitle">{$vo.title|mb_substr=###,0,10,utf8} <if condition="$vo.hb gt 0"><span class="hb">红包</span></if></p><p class="layui-col-xs2 text-right jl" data-lon="{$vo.longitude}" data-lat="{$vo.latitude}"></p>
                    <p class="layui-col-xs12 desp mt5">{$vo.content|mb_substr=###,0,12,utf8}</p>
                    <p class="layui-col-xs12 addr mt5"><i class="layui-icon">&#xe715;</i> {$vo.showaddress|mb_substr=###,0,12,utf8}</p>
                    <p class="layui-col-xs12 orange mt5"><i class="layui-icon">&#xe600;</i> {$vo.collection} &nbsp;&nbsp;&nbsp;<i class="layui-icon">&#xe6c6;</i> {$vo.zan} &nbsp;&nbsp;&nbsp;<i class="layui-icon">&#xe60c;</i> {$vo.views}</p>
                    </div>
			    	<!--<div class="layui-col-xs3 text-right" data-lon="{$vo.longitude}" data-lat="{$vo.latitude}"> </div>-->
				</div>
				</foreach>			 			  
			</div>
			
	    </div>
	    <div class="layui-tab-item">
	    	
	    	<div class="hongbaodian">
	      		<foreach name="fujin" item="vo" >
			  	<div class="layui-row open" data-id="{$vo.id}">
				    <div class="layui-col-xs4"><img src="{$vo.path}" /></div>
			    	<div class="layui-col-xs8">
                     <p class="layui-col-xs9 stitle">{$vo.title|mb_substr=###,0,10,utf8} <if condition="$vo.hb gt 0"><span class="hb">红包</span></if></p><p class="layui-col-xs3 text-right jl">{$vo.juli}km</p>
                    <p class="layui-col-xs12 desp mt5">{$vo.content|mb_substr=###,0,12,utf8}</p>
                    <p class="layui-col-xs12 addr mt5"><i class="layui-icon">&#xe715;</i> {$vo.showaddress|mb_substr=###,0,12,utf8}</p>
                    <p class="layui-col-xs12 orange mt5"><i class="layui-icon">&#xe600;</i> {$vo.collection} &nbsp;&nbsp;&nbsp;<i class="layui-icon">&#xe6c6;</i> {$vo.zan} &nbsp;&nbsp;&nbsp;<i class="layui-icon">&#xe60c;</i> {$vo.views}</p>
                    </div>
<!--			    	<div class="layui-col-xs3 text-right" data-lon="{$vo.longitude}" data-lat="{$vo.latitude}">{$vo.juli}km </div>-->
				</div>
				</foreach>
			</div>
			
	    </div>
	    
	     <div class="layui-tab-item">
	      	
	      	<div class="morendian">
	      		<foreach name="morens" item="vo" >
				<div class="layui-row open" data-id="{$vo.id}">
				    <div class="layui-col-xs4"><img src="{$vo.path}" /></div>
			    	<div class="layui-col-xs8">
                    <p class="layui-col-xs10 stitle">{$vo.title|mb_substr=###,0,10,utf8} <if condition="$vo.hb gt 0"><span class="hb">红包</span></if></p><p class="layui-col-xs2 text-right jl" data-lon="{$vo.longitude}" data-lat="{$vo.latitude}"></p>
                    <p class="layui-col-xs12 desp mt5">{$vo.content|mb_substr=###,0,12,utf8}</p>
                    <p class="layui-col-xs12 addr mt5"><i class="layui-icon">&#xe715;</i> {$vo.showaddress|mb_substr=###,0,12,utf8}</p>
                    <p class="layui-col-xs12 orange mt5"><i class="layui-icon">&#xe600;</i> {$vo.collection} &nbsp;&nbsp;&nbsp;<i class="layui-icon">&#xe6c6;</i> {$vo.zan} &nbsp;&nbsp;&nbsp;<i class="layui-icon">&#xe60c;</i> {$vo.views}</p>
                    </div>
			    	<!--<div class="layui-col-xs3 text-right" data-lon="{$vo.longitude}" data-lat="{$vo.latitude}"> </div>-->
				</div>
				</foreach>			 			  
			</div>
			
	    </div>
	    
	  </div>
	</div>

	<include file="Public/footer" />
	<include file="Public/share" />
	
</body>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="__NN__/layui.js"></script>
<script>
	// 微信JSSDK异常处理
	wx.error(function(e){
    	alert('wxjssdk_error');
    });
    // 注入JSSDK配置参数，默认开启所有接口权限
    wx.config({$options});
    // 当JSSDK初始化完成后，再执行相关操作
    wx.ready(function(){
        // 这里就可以调用 wx 的jssdk的操作了
        
        wx.getLocation({
		    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
		    success: function (res) {
		        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
		        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
		        var speed = res.speed; // 速度，以米/每秒计
		        var accuracy = res.accuracy; // 位置精度
		        //alert(latitude+'--'+longitude);
		        calc(latitude,longitude);
		        
		    }
		});
		
		function calc(latitude,longitude){
			layui.use(['layer','jquery'], function(){
				var $ = layui.$ //重点处
	  			,layer = layui.layer;
	  			
	  			var lat1 = latitude;
	  			var lng1 = longitude;
	  			
	  			$.ajax({
		        	type:"post",
		        	url:"{:U('Member/savelatlon')}",
		        	data:{lat:lat1,lon:lng1}
		        });
	  			
	  			var EARTH_RADIUS = 6378137.0;    //单位M
			    var PI = Math.PI;
			     
				$('.morendian>div').each(function(i,o){
					var obj = $(o).find('.text-right');
					var lon = obj.attr('data-lon');
					var lat = obj.attr('data-lat');
					//layer.msg(lon+' - '+lat);
					var res = getGreatCircleDistance(lat1,lng1,lat,lon);
					res = res/1000;
					res = res.toFixed(2);
					obj.html(res+'km');
				});
				
				
			    function getRad(d){
			         return d*PI/180.0;
			    }
			     
			     /**
			      * caculate the great circle distance
			      * @param {Object} lat1
			      * @param {Object} lng1
			      * @param {Object} lat2
			      * @param {Object} lng2
			      */
			     function getGreatCircleDistance(lat1,lng1,lat2,lng2){
			         var radLat1 = getRad(lat1);
			         var radLat2 = getRad(lat2);
			         
			         var a = radLat1 - radLat2;
			         var b = getRad(lng1) - getRad(lng2);
			         
			         var s = 2*Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) + Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
			         s = s*EARTH_RADIUS;
			         s = Math.round(s*10000)/10000.0;
			                
			         return s;
			     }
				
			});
		}
        
    });
</script> 
<script>
	layui.use(['layer','jquery'], function(){
		
		//弹出层
	  	var $ = layui.$ //重点处
	  	,layer = layui.layer;
	  	$('.subscribe').click(function(){
	  		layer.open({
			  type: 1, 
			  title: false, // false  '请长按识别二维码'
			  content: '<img src="/Public/erweima.jpg" style="width:250px;height:250px;"/>'
			});
	  	});
	  	
	  	$('.cate').click(function(){
			var cateid = $(this).attr('cateid');
			var url = "{:U('Category/index')}"+'&cateid='+cateid;
			window.location.href = url;
		});
	  	
	  	$('.footer').click(function(){
	  		$(this).addClass('footer-on').siblings().removeClass('footer-on');
			var nid = $(this).attr('nid');
			if(nid=='1'){
				var url = "{:U('Index/index')}";
			}
			if(nid=='2'){
				var url = "{:U('Shop/index')}";
			}
			if(nid=='3'){
				var url = "{:U('Member/index')}";
			}
			
			window.location.href = url;
		});
		
		$('.open').click(function(){
			var id = $(this).attr('data-id');
			var url = "{:U('Shop/detail')}"+'&id='+id;
			window.location.href = url;
		});
		
	});
	
	layui.use(['carousel','element'], function(){
	
		//轮播
		var carousel = layui.carousel;
		carousel.render({
		    elem: '#lunbo',
		    width: '100%',
		    height: '150px',
		    arrow: 'none',
		    indicator: 'none',
		    interval: '3000'
		});
	  
	  	//选项卡
	   	var element = layui.element;
	  	//…
	  	
	});
	
layui.use('util', function(){
  var util = layui.util;
  
  //执行
  util.fixbar({
	css:{right:0, bottom: 60},
    bar1: '&#xe63a;'
    ,click: function(type){
      console.log(type);
      if(type === 'bar1'){
       window.location.href="__MODULE__/member/kfcenter"
      }
    }
  });
});
      
</script>
</html>