<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$dian.title}</title>    
    <meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__CSS__/layui.css" media="all">	
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/hb.css">
     <style>     	
     	.subscribe{ 
     		padding: 10px 0;
     		color: red;
     		font-size: 15px;
     		text-align: center;
     		width: 90%;
     		margin: 0 auto;
     	}     
     	.title{
			z-index:999;
			position:absolute; top:0; left:0;
     		width: 100%;
     		text-align: center;
     		padding: 10px 0;
     		color: #fff;
     		font-size: 20px;
			line-height:20px;
			opacity:0.6;
     	}	  
     	.title i{
     		text-align: left;
     	}   	
     	.layui-carousel img{ width: 100%;height: 200px;}
     	.nrow{
			width:90%;
     		margin: 0 auto;
     		line-height:25px;padding:10px 0;
      	}
		a.white{ color:#fff;}
		.wrap{ width:100%;border-bottom:1px solid #eaeaea;}
		#lunbo{ position:relative;}
		.goback{display:block; width:30px; height:30px; border-radius:50%; background-color:#333; opacity:0.8; line-height:30px; text-align:center; margin-left:10px;}
		.view{display:block; width:60px; height:30px; color:#fff; font-size:14px; float:right; margin-right:10px; background-color:#333; opacity:0.8; line-height:30px; text-align:center;border-radius:5px; }
    	.bar{ width:100%; height:50px; line-height:50px; text-align:center; border-bottom:1px solid #eaeaea; color:#09F; z-index:1;
			position:absolute; bottom:0; left:0; background-color:#333; opacity:0.6;}
		.footbar{ width:100%; height:50px; position:fixed; bottom:0; text-align:center; font-size:12px;}
		.footbar p{ padding:0; margin:0;}
		.footbar div{height:60px; padding-top:10px;}
		.bg-yellow{ background-color:#FC0;}
		.bg-orange{ background-color:#F60;}
		.bg-red{background-color: #F00;}
		.bg-d{ background-color:#ddd;}
		.bg-d2{ background-color:#d2d2d2;}
		.bg-bg{}
		
		.logo img{width:50px; height:50px;border-radius:50%; float:left; margin-right:10px;}
		.shoptitle{ color:#2F4056; font-size:16px; font-weight:800}
		.shopdesc{ color:#c2c2c2; line-height:1.5em;}
		
		#map{width: 100%;height: 300px;display: none;}
	 </style>
</head>
<body>
	<if condition="$user.subscribe != 1">
		<div class="subscribe">您未关注，请点击关注</div>
	</if>
	
	<div class="title layui-row">
		<div class="layui-col-xs3 back"><span class="goback"><i class="layui-icon">&#xe65c;</i></span></div>
		<div class="layui-col-xs6">&nbsp;</div>
		<div class="layui-col-xs3"><span class="view"><i class="layui-icon">&#xe650;</i> 999</span></div>
	</div>
	
	<div class="layui-carousel" id="lunbo" lay-filter="lunbo">
    
       	<div class="bar layui-col-xs12">
			<div class="layui-col-xs3"><a href="#" class="white" id="collection"><i class="layui-icon">&#xe600;</i> 收藏</a></div>
			<div class="layui-col-xs3"><a href="#" id="zan" class="white"><i class="layui-icon">&#xe6c6;</i> <span id="zanum" style="padding-bottom:5px;">{$dian.zan}</span></a></div>
	 		<div class="layui-col-xs3"><a href="#" id="erweima" class="white"><i class="layui-icon">&#xe64c;</i> 二维码</a></div> 
	        <div class="layui-col-xs3"><a href="tel:{$dian.mobile}" class="white"><i class="layui-icon">&#xe63b;</i> 电话</a></div>
		</div>
    
	  <div carousel-item="">
	  	<notempty name="dian.imgsp"><div><img src="{$dian.imgsp}"></div></notempty>
	  	<notempty name="dian.imgs1p"><div><img src="{$dian.imgs1p}"></div></notempty>
	  	<notempty name="dian.imgs2p"><div><img src="{$dian.imgs2p}"></div></notempty>	    
	  </div>
	</div> 
	      
   <div class="layui-row" id="fix">
    
   </div>
   
   <div class="wrap"><div class="layui-row nrow"> 
	<div class="layui-col-xs12"><div class="shoptitle">{$dian.title}</div></div>
	</div></div>
    
     <div class="wrap" style="background-color:#F0F0F0"><div class="layui-row nrow"> 
    <div class="layui-col-xs12 shopdesc logo"><img src="{$logo}">{$dian.description}</div>
    </div> </div>

   <div class="wrap">
	<div class="layui-row nrow">
	<div class="layui-col-xs1"><i class="layui-icon">&#xe715;</i></div>
    <div class="layui-col-xs11 showaddress" style="text-align:left;" lon="{$dian.longitude}" lat="{$dian.latitude}">
    	地址：{$dian.showaddress}</div>
	</div>
   </div>
   <div id="map"></div>
    
	<div class="layui-row nrow" style="margin-bottom:80px;">
		{$dian.content}
	</div>
    
    	<div class="footbar layui-row">
		<div class="layui-col-xs3 layui-bg-cyan">
			<if condition=" $user['id'] eq $dian['uid'] "> 
				<a href="{:U('Shop/dians')}" class="white">
		        <p><i class="iconfont icon-dianpu-copy"></i></p>
		        <p>店铺管理</p>
		        </a>
			<else />
				<a href="{:U('Shop/index')}" class="white">
		        <p><i class="iconfont icon-dianpu-copy"></i></p>
		        <p>我要开店</p>
		        </a>
			</if>
        </div>
        <div class="layui-col-xs6 layui-bg-red"><a href="#" id="footcenter" class="white">
        	<eq name="flag" value="0">
        		<p>&nbsp;</p>
        		<p>店铺主还没发红包呢<p>
        	</eq>
        	<eq name="flag" value="1">
        		<p>{$gettime}</p>
        		<p>未到红包发放时间<p>
        	</eq>
        	<eq name="flag" value="2">
        		<p>{$wait}</p>
        		<p>抢红包倒计时<p>
        	</eq>
        	<eq name="flag" value="3">
        		<p>&nbsp;</p>
        		<p>红包发放时间已结束<p>
        	</eq>
        	<eq name="flag" value="4">
        		<p>&nbsp;</p>
        		<p>当前红包不可抢<p>
        	</eq>
        </a></div>
        <div class="layui-col-xs3 layui-bg-cyan"><a href="{:U('Member/index')}" class="white">
        <p><i class="iconfont icon-huiyuan"></i></p>
        <p>个人中心<p>
        </a></div>
        		
	</div>   
    
    <div class="hb" style="display: none;">
    	<div class="opacity"></div>
		<div class="red"><img src="__IMG__/hb/asd23.png"></div>		
    </div>
    
</body>
 
<script type="text/javascript" src="__NN__/layui.js"></script> 
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=2d91c93f3322cc37c798dc6f9d806f38"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	  
<script>
	AMapUI.loadUI(['misc/PositionPicker'], function(PositionPicker) {
	    layui.use(['layer','jquery'], function(){
	    	var $ = layui.$ //重点处
	  		,layer = layui.layer;
		    var lat = $('.showaddress').attr('lat');
	  		var lon = $('.showaddress').attr('lon');
	  		
	  		var map = new AMap.Map('map',{
		        resizeEnable: true,
		        zoom: 16,
		        //center: [116.480983, 40.0958]
		        center: [lon, lat]
		    });
		    
		    var marker = new AMap.Marker({
				position: [lon, lat],
				title: '',
				map: map
		    });
	  		
  		});
  		
	    
	    
	});
	
	layui.use(['layer','jquery','carousel'], function(){
		
		//弹出层
	  	var $ = layui.$ //重点处
	  	,layer = layui.layer;
	  	$('.subscribe').click(function(){
	  		layer.open({
			  type: 1, 
			  title: false, // false  '请长按识别二维码'
			  content: '<img src="/Public/erweima.jpg" style="width:250px;height:250px;"/>'
			});
	  	});
	  	
	  	$('.back').click(function(){
	  		window.location.href = "{:U('Index/index')}";
	  	});
	  	
	  	$('.showaddress').click(function(){
	  		
	  		layer.open({
			  type: 1,
			  area: ['90%', 'auto'],
			  title: false,
			  content: $('#map')
			});
	  		
	  	});
	  	
	  	//轮播
		var carousel = layui.carousel;
		carousel.render({
		    elem: '#lunbo',
		    width: '100%',
		    height: '200px',
		    arrow: 'none',
		    indicator: 'none',
		    interval: '3000'
		});
	  	
		//点赞
		$("#zan").click(function(){
			var id = {$dian.id};
			$.ajax({
			type:"GET",
			data:{'id':id},
			url:"{:U('Shop/ajaxZan')}",
			success:function(data){
				//alert(data)
				if(data>0){
					var _num = $("#zanum").html();
					_num = parseInt(_num);
					$("#zanum").html(_num+1);
				}else{
					layer.msg("您已经点过赞了！");
				}
			}
				
			})
		});
		
		//收藏
		$("#collection").click(function(){
			var id = {$dian.id};
			$.ajax({
			type:"GET",
			data:{'id':id},
			url:"{:U('Shop/ajaxCollection')}",
			success:function(data){
				//alert(data)
				if(data>0){
					layer.msg("您收藏了店铺，可以在我的中心里查看！");
				}else{
					layer.msg("您已经收藏过了！");
				}
			}
				
			})
		});
		
		<eq name="flag" value="2">    
			<eq name="flag2" value="1">
				var daojishi = {$wait};
				settime();
				function settime() { 
				    if (daojishi == 0) { 
				    	$('#footcenter').html('<p>&nbsp;</p><p>开抢啦</p>');	
				    	$("#footcenter").click(function(){			        	
							$('.hb').fadeIn();
						});
				        return;
				    } else { 
				        $('#footcenter').html('<p>'+daojishi+'</p><p>抢红包倒计时</p>');
				        daojishi--; 
				    } 
					setTimeout(function() { 
				    	settime() }
				    ,1000) 
				}	
				
				
			
				$(".red").click(function(){
					$(".red").addClass("shake");			
					$(".opacity").fadeIn();
					
					setTimeout(function(){
						calchb();
					},2000);
					
				});
				
				function calchb(){
					var iskl = {$iskl};		        
			        if(iskl){
			        	    	
						layer.prompt({
							formType: 2,
							value: '',
							title: '请输入口令:{$kl}'
						}, function(value, index, elem){
							var url = "{:U('Shop/qianghb',array('shopid'=>$dian['id']))}";
							url += '&kl='+value;					  
							ajaxcalchb(url);
							layer.close(index);
						});
						
			        }else{
			        	var url = "{:U('Shop/qianghb',array('shopid'=>$dian['id']))}";
						ajaxcalchb(url);					
			        }
				}
				
				function ajaxcalchb(url){
					var shopid = {$dian['id']};
					$.ajax({
					  	type:"get",
					  	url:url,
					  	success:function(data){
					  		$(".red").removeClass("shake");	
					  			
					  		var data = JSON.parse(data);
					  		if(data.i == '1'){
								layer.open({
								  type: 0,
								  shade: false,
								  title: false, //不显示标题
								  content: data.msg,
								  btn: ['生成朋友圈海报', '分享到朋友圈'],
								  yes: function(){
								  	
								  	$.ajax({
										type:"POST",
										data:{'shopid':shopid},
										url:"{:U('Paper/index')}",
										success:function(data){
											//layer.msg(data);
											if(data.length>0){
												var json = {
												  "title": "", //相册标题
												  "id": 3, //相册id
												  "start": 0, //初始显示的图片序号，默认0
												  "data": [   //相册包含的图片，数组格式
												    {
												      "alt": "",
												      "pid": 8, //图片id
												      "src": data, //原图地址
												      "thumb": "" //缩略图地址
												    }
												  ]
												};
								        		layer.photos({
												    photos: json,
												    area: ['100%', 'auto'],
												    anim: 5
												    //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
												});
											}
										},
										error: function(){
											layer.msg('error里');
										}
									})
								  	
								  	
								  },
								  btn2: function(){
								  	
								    var json = {
									  "title": "", //相册标题
									  "id": 2, //相册id
									  "start": 0, //初始显示的图片序号，默认0
									  "data": [   //相册包含的图片，数组格式
									    {
									      "alt": "",
									      "pid": 7, //图片id
									      "src": './Public/share.jpg', //原图地址
									      "thumb": "" //缩略图地址
									    }
									  ]
									};
					        		layer.photos({
									    photos: json,
									    area: ['100%', 'auto'],
									    anim: 5
									    //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
									});
									
								  },
								  cancel: function(){
								    $(".hb").fadeOut();
								  }
								});
					  		}else{
					  			layer.msg(data.msg);
					  			$(".hb").fadeOut();
					  		}
					  	}
					  	,error: function(){
					  		layer.msg('抢红包失败');
					  		$(".hb").fadeOut();
					  	}
					  });
				}
				
	        </eq>
	        <eq name="flag2" value="0">
	       		var daojishi = {$wait};
				settime();
				function settime() { 
				    if (daojishi == 0) { 
				    	$('#footcenter').html('<p>&nbsp;</p><p>暂不可抢</p>');	
				    	layer.msg('{$flag2_msg}');
				    	$("#footcenter").click(function(){			        	
							layer.msg('{$flag2_msg}');
						});
				        return;
				    } else { 
				        $('#footcenter').html('<p>'+daojishi+'</p><p>抢红包倒计时</p>');
				        daojishi--; 
				    } 
					setTimeout(function() { 
				    	settime() }
				    ,1000) 
				}	
        	</eq>
        </eq>
        
        $('#erweima').click(function(){
        	var ewm = '{$dian.imgs5p}';
        	
        	if(ewm == ''){
        		layer.msg('该店未上传二维码！');
        	}else{
        		var json = {
				  "title": "", //相册标题
				  "id": 1, //相册id
				  "start": 0, //初始显示的图片序号，默认0
				  "data": [   //相册包含的图片，数组格式
				    {
				      "alt": "",
				      "pid": 6, //图片id
				      "src": ewm, //原图地址
				      "thumb": "" //缩略图地址
				    }
				  ]
				};
        		layer.photos({
				    photos: json
				    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
				});
        	}
        });
				
	});
	
</script>
</html>