<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> </title>    
    <meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__CSS__/layui.css" media="all">	
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
     <style>     	
     	.subscribe{ 
     		padding: 10px 0;
     		color: red;
     		font-size: 15px;
     		text-align: center;
     		width: 90%;
     		margin: 0 auto;
     	}     
     	.title{
     		width: 100%;
     		text-align: center;
     		padding: 10px 0;
     		background-color: #09F;
     		color: #fff;
     		font-size: 15px;
     	}
     	form{margin-top: 10px;}   
     	.layui-input-block{margin-right: 20px;}	
     	
     	#map{width: 100%;height: 300px;}
     	#address{background-color: #f0f0f0;color: #FF5722;}
     	.hide{display: none;}
		.bgg{ background-color:#eaeaea;}
		.red { color:#FF5722;}
		
		#uploads_imgs img{width:70px;height:70px;margin: 0 4px 4px 0;}
     </style>
</head>
<body>
<!--	<if condition="$user.subscribe != 1">
		<div class="subscribe">您未关注，请点击关注</div>
	</if>
	-->
	<div class="title">编辑您的店铺</div>
		<div class="layui-row">
    <div class="layui-col-md12" style="text-align:center; padding:10px 0;"><p class="red">* 号标志的为必填，其他选填</p></div>
    </div>
	<form class="layui-form" method="post" action="{:U('Shop/doapplyedit1')}">
		
		<input type="hidden" name="id" value="{$one.id}" />
		
        <div class="layui-form-item">
	    <label class="layui-form-label"><span class="red">*</span>店铺名称</label>
	    <div class="layui-input-block">
	      <input type="text" name="title" value="{$one.title}" required  lay-verify="required" placeholder="您的小店名称" autocomplete="off" class="layui-input">
	    </div>
	  </div> 
        
        
       <div class="layui-form-item">
	    <label class="layui-form-label"><span class="red">*</span>联系电话</label>
	    <div class="layui-input-block">
	      <input type="text" name="mobile" value="{$dian.mobile}" required placeholder="170xxxx0000" lay-verify="phone" autocomplete="off" class="layui-input">
	    </div>
	  </div>  
	  
	  <div class="layui-form-item" style="margin:0;">
	    <label class="layui-form-label">二维码</label>
	    <div class="layui-input-block">
	     	<button type="button" class="layui-btn layui-btn-normal layui-btn-small" id="img7">
			  <i class="layui-icon">&#xe67c;</i>上传图片
			</button>
			<img src="{$dian_shop.imgs5}" id="img7res" style="display:none;width:50px;height:50px;"/>
			<input type="hidden" required name="img7" value="" />
	    </div>
	  </div>
	          <div class="layui-form-item" style="margin:0;">
	    <div class="layui-input-block">
         <div class="layui-form-mid layui-word-aux">店铺联系人的微信二维码</div>
         </div>
         
         <div class="layui-form-item">
		    <label class="layui-form-label"><span class="red">*</span>选择分类</label>
		    <div class="layui-input-block">
		      <select name="cate1" lay-verify="required" lay-filter="cate1">
		        <option value=""></option>
		        <foreach name="cate1" item="vo" >
				    <option value="{$vo.id}" <eq name="cate1_id" value="$vo['id']">selected="selected"</eq>>{$vo.title}</option>
				</foreach>
		      </select>
		      <select name="cate2" lay-verify="required"  lay-filter="cate2">
		        <option value=""></option>	
		        <foreach name="cate2" item="vo" >
				    <option value="{$vo.id}" <eq name="one['category_id']" value="$vo['id']">selected="selected"</eq>>{$vo.title}</option>
				</foreach>
		      </select>
		    </div>
		  </div>
		  
		   <div class="layui-form-item">
	    <label class="layui-form-label"><span class="red">*</span>文字详情</label>
	    <div class="layui-input-block">
	      <textarea name="content" required lay-verify="required" placeholder="请输入详情" class="layui-textarea">{$dian.content}</textarea>
	    </div>
	  </div>
	  
        	 <div class="layui-form-item">
		    <label class="layui-form-label"><span class="red">*</span>图片详情</label>
		    <div class="layui-input-block" id="uploads">		     	
				<a href="#" class="layui-btn layui-btn-normal layui-btn-small">
					<i class="layui-icon">&#xe67c;</i>上传图片
				</a>				
		    </div>
	    </div>  
	    <div class="layui-form-item" style="margin:0;">
		    <div class="layui-input-block">
	         <div class="layui-form-mid layui-word-aux">最多可选择9张图片</div>
	         </div>
       </div>
	    <div class="layui-form-item" id="imgs">
		    <label class="layui-form-label"> </label>
		    <div class="layui-input-block" id="uploads_imgs">		     	
				<foreach name="imgs6" item="vo" >
				    <img src="{$vo}" />
				</foreach>
		    </div>
	    </div> 
	    <input type="hidden" name="uploads_imgs" value="{$dian.imgs6}" />

    	
	 

	   
		  
		<div class="layui-form-item">
		    <label class="layui-form-label"><span class="red">*</span>显示地址</label>
		    <div class="layui-input-block">
		      <textarea name="showaddress" required lay-verify="required" placeholder="请输入显示的地址" class="layui-textarea">{$dian.showaddress}</textarea>
		    </div>
		</div>
	  <div class="layui-form-item" style="margin:0;">
		    <div class="layui-input-block">
	         <div class="layui-form-mid layui-word-aux">填写地址后请点击查询定位</div>
	         </div>
       </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">地址</label>
	    <div class="layui-input-block">
	    	<textarea name="" id="address" disabled="disabled" class="layui-textarea" style="display:none"></textarea>
	    	<input type="hidden" id="lnglat" required name="lnglat" value=""/>
	    	<input type="hidden" id="addr" required name="address" value=""/>
	    
	     	<!--<button type="button" class="layui-btn layui-btn-normal layui-btn-small" id="seladdr">
			  <i class="layui-icon">&#xe756;</i><span>选择地址</span>
			</button>-->
			
			<button type="button" class="layui-btn layui-btn-normal layui-btn-small" id="seladdr1">
			  <i class="layui-icon">&#xe756;</i><span>查询</span>
			</button>
			
	    </div>
	  </div>
	  <div id="map"></div>
      <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=2d91c93f3322cc37c798dc6f9d806f38"></script>
      <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	  
	 
	  
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
	    </div>
	  </div>
	</form>
	
	<include file="Public/footer" />
	<include file="Public/share" />
	
</body>
 
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
	// 微信JSSDK异常处理
	wx.error(function(e){
    	alert('wxjssdk_error');
    });
    // 注入JSSDK配置参数，默认开启所有接口权限
    wx.config({$options});
    // 当JSSDK初始化完成后，再执行相关操作
    wx.ready(function(){
        // 这里就可以调用 wx 的jssdk的操作了
        
        wx.getLocation({
		    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
		    success: function (res) {
		        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
		        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
		        var speed = res.speed; // 速度，以米/每秒计
		        var accuracy = res.accuracy; // 位置精度
		        //alert(latitude+'--'+longitude);
		        	
				AMapUI.loadUI(['misc/PositionPicker'], function(PositionPicker) {
				    var map = new AMap.Map('map',{
				        resizeEnable: true,
				        zoom: 16,
				        //center: [116.480983, 40.0958]
				        center: [longitude, latitude]
				    });
				    var positionPicker = new PositionPicker({
				        mode: 'dragMap',//dragMap dragMarker
				        map: map
				    });
				
				    positionPicker.on('success', function(positionResult) {
				        var lnglat = positionResult.position;
				        var address = positionResult.address;
				        var nearestJunction = positionResult.nearestJunction;
				        var nearestRoad = positionResult.nearestRoad;
				        var nearestPOI = positionResult.nearestPOI;
				        //alert(lnglat+'-'+address+'-'+nearestJunction+'-'+nearestRoad+'-'+nearestPOI);
				        document.getElementById('address').value = address;//显示
				        document.getElementById('addr').value = address;//表单提交
				        document.getElementById('lnglat').value = lnglat;
				    });
				    positionPicker.on('fail', function(positionResult) {
				        var lnglat = '';
				        var address = '';
				        var nearestJunction = '';
				        var nearestRoad = '';
				        var nearestPOI = '';
				    });
				    
				    positionPicker.start();
				    
				});
				
		    }
		});
		
		var images = {
	       localId: [],
	       serverId: []
	    };
       	document.getElementById('uploads').onclick=function(){
       		//初始化
       		images.localId = [];
       		images.serverId = [];
       		document.getElementById('uploads_imgs').innerHTML = '';
       		document.getElementById('imgs').style.display="none";
       		
       		wx.chooseImage({
			    count: 9, // 默认9
			    sizeType: ['compressed'], //压缩图
			    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
			    success: function (res) {
			        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			    	images.localId = localIds;
			    	
			    	document.getElementById('imgs').style.display="block";
			    	
			    	var str = '';
			    	var srcs = [];
			    	for (var i=0;i<localIds.length;i++) {
			    		str += '<img src="'+localIds[i]+'" />';	
			    	}
			    	
			    	document.getElementById('uploads_imgs').innerHTML = str;
			    	upl();
			    	
			    }
			});
       	}
       	
       	function upl(){
			var i = 0, length = images.localId.length;
			upload(i,length);
		}
       	function upload(i,length) {
			wx.uploadImage({
			    localId: images.localId[i],
			    isShowProgressTips: 0, 
			    success: function (res) {
			    	i++; 
				    images.serverId.push(res.serverId);

				    if (i < length) {
					  upload(i,length); 
				    } else {
						var srcs = JSON.stringify(images.serverId);
				    	layui.use(['layer','jquery'], function(){		
		  					var $ = layui.$,layer = layui.layer;
		  					$.ajax({
		  						type:"post",
		  						url:"{:U('File/uploads')}",
		  						data:{srcs:srcs},
		  						success: function(data){
		  							//layer.msg(data);
		  							$('input[name=uploads_imgs]').val(data);
		  						}
		  					});
				    	});
				    }

			    }

			});

		}
        
    });
</script>

<script type="text/javascript" src="__NN__/layui.js"></script> 
<script>
	layui.use(['layer','jquery','form','upload'], function(){
		
		//弹出层
	  	var $ = layui.$ //重点处
	  	,layer = layui.layer;
	  	$('.subscribe').click(function(){
	  		layer.open({
			  type: 1, 
			  title: false, // false  '请长按识别二维码'
			  content: '<img src="/Public/erweima.jpg" style="width:250px;height:250px;"/>'
			});
	  	});
	  	  	
	  	$('.footer').click(function(){
	  		$(this).addClass('footer-on').siblings().removeClass('footer-on');
			var nid = $(this).attr('nid');
			if(nid=='1'){
				var url = "{:U('Index/index')}";
			}
			if(nid=='2'){
				var url = "{:U('Shop/index')}";
			}
			if(nid=='3'){
				var url = "{:U('Member/index')}";
			}
			
			window.location.href = url;
		});
		
		var form = layui.form;
		//监听提交
		form.on('submit(formDemo)', function(data){
			
//			layer.msg(JSON.stringify(obj));
//			return false;
			
			var obj = data.field;
			var imgs = obj.uploads_imgs;
			if(imgs==''){
				layer.msg('请上传多图图片！');
				return false;
			}
		    
		    
			var cate2 = obj.cate2;
			if(cate2==''){
				layer.msg('请选择分类！');
				return false;
			}
		    
		});
		
		form.on('select(cate1)', function(data){
		  var cate1 = data.value;
		  getcate2(cate1);
		});  
		
		function getcate2(cate1){
			$.ajax({
				type:"post",
				url:"{:U('Category/getcate2')}",
				data:{cate1:cate1},
				success: function(data){
					var code = data.code;
				    var msg = data.msg;
				    if(code){
				    	var str = '';
				    	for (var i=0;i<msg.length;i++) {
				    		str += '<option value="'+msg[i].id+'">'+msg[i].title+'</option>';
				    	}
				    	$('select[name=cate2]').html(str);
				    	form.render('select');
				    }else{
				    	layer.msg('getcate2 return error');
				    }
				},
				error: function(){
					layer.msg('getcate2 error');
				}
			});
		}
		
		form.on('select(cate2)', function(data){
		  var cate2 = data.value;
		  layer.msg(cate2);
		});
		
		initimg();
		function initimg(){
			var cover_id = '{$one.cover_id}'; //logo
			var cover_src = '{$one.logo}';
			$('#img4res').attr('src',cover_src).show();
	      	$('input[name=newid2]').val(cover_id);
	      	
			var imgs_id = '{$dian.imgs}'; //封面1
			var imgs_src = '{$one.img}';
			$('#img1res').attr('src',imgs_src).show();
	      	$('input[name=img1]').val(imgs_id);
			
			var imgs_id1 = '{$dian.imgs1}'; //封面2
			var imgs_src1 = '{$one.img1}';
			$('#img2res').attr('src',imgs_src1).show();
	      	$('input[name=img2]').val(imgs_id1);

			var imgs_id2 = '{$dian.imgs2}'; //封面3
			var imgs_src2 = '{$one.img2}';
			$('#img3res').attr('src',imgs_src2).show();
	      	$('input[name=img3]').val(imgs_id2);
			
			var imgs_id3 = '{$dian.imgs3}';
			var imgs_src3 = '{$one.img3}';
			$('#img5res').attr('src',imgs_src3).show();
	      	$('input[name=img5]').val(imgs_id3);
			
			var imgs_id4 = '{$dian.imgs4}';
			var imgs_src4 = '{$one.img4}';
			$('#img6res').attr('src',imgs_src4).show();
	      	$('input[name=img6]').val(imgs_id4);
			
			var imgs_id5 = '{$dian.imgs5}';
			var imgs_src5 = '{$one.img5}';
			$('#img7res').attr('src',imgs_src5).show();
	      	$('input[name=img7]').val(imgs_id5);
		}
		
		var upload = layui.upload;
		var uploadInst1 = upload.render({
		    elem: '#img1' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img1res').attr('src',msg).show();
		      	$('input[name=img1]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		    }
		    ,error: function(){
		      //请求异常回调
		      layer.msg('err1');
		    }
		});
		var uploadInst2 = upload.render({
		    elem: '#img2' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img2res').attr('src',msg).show();
		      	$('input[name=img2]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		    }
		    ,error: function(){
		      //请求异常回调
		      layer.msg('err1');
		    }
		});
		var uploadInst3 = upload.render({
		    elem: '#img3' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img3res').attr('src',msg).show();
		      	$('input[name=img3]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		    }
		    ,error: function(){
		      //请求异常回调
		      layer.msg('err1');
		    }
		});
		var uploadInst4 = upload.render({
		    elem: '#img4' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img4res').attr('src',msg).show();
		      	$('input[name=newid2]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		      
		    }
		    ,error: function(){
		      //请求异常回调
		      alert('err1');
		    }
		});

		var uploadInst5 = upload.render({
		    elem: '#img5' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img5res').attr('src',msg).show();
		      	$('input[name=img5]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		      
		    }
		    ,error: function(){
		      //请求异常回调
		      alert('err1');
		    }
		});
		
		var uploadInst6 = upload.render({
		    elem: '#img6' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img6res').attr('src',msg).show();
		      	$('input[name=img6]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		      
		    }
		    ,error: function(){
		      //请求异常回调
		      alert('err1');
		    }
		});
		
		var uploadInst7 = upload.render({
		    elem: '#img7' //绑定元素
		    ,url: "{:U('File/upload')}" //上传接口
		    ,done: function(res){
		      //上传完毕回调
		      var code = res.code;
		      var msg = res.msg;
		      if(code){
		      	var newid = res.newid;
		      	$('#img7res').attr('src',msg).show();
		      	$('input[name=img7]').val(newid);
		      }else{
		      	layer.msg('上传失败！');
		      }
		      
		    }
		    ,error: function(){
		      //请求异常回调
		      alert('err1');
		    }
		});
		
		$('#map').hide();
		var showOrHide = 1;
		$('#seladdr').click(function(){
		  $('#map').toggle(showOrHide);
		  if(showOrHide){
		  	$(this).find('span').html('关闭地图');
		  	$('body').css('padding-bottom','300px');
		  	var t = $(window).scrollTop();
			$('body,html').animate({'scrollTop':t+300},100);
		  }else{
		  	$(this).find('span').html('选择地址');
		  	$('body').css('padding-bottom','0');
		  }
		  showOrHide = showOrHide == 1 ? 0 : 1;
		});
		
		$('#seladdr1').click(function(){
			var txt = $('textarea[name=showaddress]').val();
			
			if(txt == ''){
				layer.msg('请输入正确的店铺地址！');
			}else{
				AMap.service('AMap.Geocoder',function(){		    
				    geocoder = new AMap.Geocoder();
				    geocoder.getLocation(txt, function(status, result) {
				    	//alert(JSON.stringify(status)+JSON.stringify(result));
					    if (status === 'complete' && result.info === 'OK') {
					       //layer.msg(JSON.stringify(result));
					       var obj = result.geocodes[0].location;
					       var lng = obj.lng;
					       var lat = obj.lat;
					       //layer.msg(lng+'--'+lat);
				
							  	layer.open({
							      type: 1,
								  title: '拖动地图选择定位',
								  closeBtn: 1,
								  area: '100%',
								  skin: 'layui-layer-nobg', //没有背景色
								  shadeClose: true,
								  content: $('#map')
							   });
							  showOrHide = 1;
					       
					        AMapUI.loadUI(['misc/PositionPicker'], function(PositionPicker) {
				    
							    var map = new AMap.Map('map',{
							        resizeEnable: true,
							        zoom: 16,
							        //center: [116.480983, 40.0958]
							        center: [lng, lat]
							    });
							    var positionPicker = new PositionPicker({
							        mode: 'dragMap',//dragMap dragMarker
							        map: map
							    });
							
							    positionPicker.on('success', function(positionResult) {
							        var lnglat = positionResult.position;
							        var address = positionResult.address;
							        var nearestJunction = positionResult.nearestJunction;
							        var nearestRoad = positionResult.nearestRoad;
							        var nearestPOI = positionResult.nearestPOI;
							        //alert(lnglat+'-'+address+'-'+nearestJunction+'-'+nearestRoad+'-'+nearestPOI);
							        document.getElementById('address').value = address;//显示
							        document.getElementById('addr').value = address;//表单提交
							        document.getElementById('lnglat').value = lnglat;
							        
							        layer.title(address);
							        
							    });
							    positionPicker.on('fail', function(positionResult) {
							        var lnglat = '';
							        var address = '';
							        var nearestJunction = '';
							        var nearestRoad = '';
							        var nearestPOI = '';
							    });
							    
							    positionPicker.start();
							    
							});
					       
					    }else{
					        layer.msg('获取经纬度失败');
					    }
					}); 
				});
			}
		});
	
		
	});
	
</script>
</html>