<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 红包详情</title>    
    <meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__CSS__/layui.css" media="all">	
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
     <style>     	
     	.subscribe{ 
     		padding: 10px 0;
     		color: red;
     		font-size: 15px;
     		text-align: center;
     		width: 90%;
     		margin: 0 auto;
     	}
     	.title{
     		width: 100%;
     		text-align: center;
     		padding: 10px 0;
     		background-color: #09F;
     		color: #fff;
     		font-size: 15px;
     	}	  
     	.title i{
     		text-align: left;
     	}   	
     	
     	.content{padding: 15px 20px;}
     	.content .layui-row{height: 30px;line-height: 30px;}
     	.content .layui-row .tr{text-align: right;}
     	.content .layui-row .layui-col-xs9{padding-left: 10px;}
     </style>
</head>
<body>
<!--	<if condition="$user.subscribe != 1">
		<div class="subscribe">您未关注，请点击关注</div>
	</if>-->
	
	<div class="title layui-row">
		<div class="layui-col-xs2 back"><i class="layui-icon">&#xe65c;</i> </div>
		<div class="layui-col-xs8">{$shop_title}红包</div>
		<div class="layui-col-xs2">
			<a href="{:U('Shop/logs',array('hbid'=>$hb['id']))}" style="color:#ffaaaa;font-size: 15px;">记录</a>
		</div>
	</div>
	
	<div class="content">
		<div class="layui-row">
			<div class="layui-col-xs3 tr">总金额：</div>
			<div class="layui-col-xs9">{$hb.money}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">手续费：</div>
			<div class="layui-col-xs9">{$hb.sxf}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">每日金额：</div>
			<div class="layui-col-xs9">{$hb.everymoney}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">发放天数：</div>
			<div class="layui-col-xs9">{$hb.num}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">余额：</div>
			<div class="layui-col-xs9">{$hb.yue}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">类型：</div>
			<div class="layui-col-xs9">
				<eq name="hb['type']" value="0">普通</eq>
				<eq name="hb['type']" value="1">拼手气</eq>
			</div>
		</div>
		<eq name="hb['type']" value="0">
		<div class="layui-row">
			<div class="layui-col-xs3 tr">单个金额：</div>
			<div class="layui-col-xs9">{$hb.ptmoney}</div>
		</div>
		</eq>		
		<eq name="hb['type']" value="1">
		<div class="layui-row">
			<div class="layui-col-xs3 tr">最低金额：</div>
			<div class="layui-col-xs9">{$hb.psqmoney1}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">最高金额：</div>
			<div class="layui-col-xs9">{$hb.psqmoney2}</div>
		</div>
		</eq>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">是否口令：</div>
			<div class="layui-col-xs9">
				<eq name="hb['iskl']" value="0">否</eq>
				<eq name="hb['iskl']" value="1">是</eq>
			</div>
		</div>
		
		<eq name="hb['iskl']" value="1">
		<div class="layui-row">
			<div class="layui-col-xs3 tr">口令：</div>
			<div class="layui-col-xs9">{$hb.kl}</div>
		</div>
		</eq>
		
		<div class="layui-row">
			<div class="layui-col-xs3 tr">创建时间：</div>
			<div class="layui-col-xs9">{$hb.createtime|date="Y-m-d H:i:s",###}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">开始时间：</div>
			<div class="layui-col-xs9">{$hb.gettime|date="Y-m-d H:i:s",###}</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs3 tr">结束时间：</div>
			<div class="layui-col-xs9">{$hb.endtime|date="Y-m-d H:i:s",###}</div>
		</div>
		
		<div class="layui-row">
			<div class="layui-col-xs3 tr">区域：</div>
			<div class="layui-col-xs9">
				<eq name="hb['area']" value="1">3km</eq>
				<eq name="hb['area']" value="2">5km</eq>
				<eq name="hb['area']" value="3">20km</eq>
				<eq name="hb['area']" value="4">不限</eq>
			</div>
		</div>
		
		<if condition="($hb['isson'] eq 1) AND ($hb['num'] gt 1) "> 
			<div class="layui-collapse" lay-accordion>		
				<foreach name="hbsons" item="vo" >
				  <div class="layui-colla-item">
				    <h2 class="layui-colla-title">{$vo.gettime|date="Y-m-d",###} ~ {$vo.endtime|date="Y-m-d",###}</h2>
				    <div class="layui-colla-content layui-show">
				    	<div class="layui-row">
						    <div class="layui-col-xs6">
						      每日金额：{$vo.everymoney}
						    </div>
						    <div class="layui-col-xs6">
						      余额：{$vo.yue}
						    </div>
						  </div>
				    </div>
				  </div>
				</foreach>
			</div>
		</if>
	</div>
	
</body>
 
<script type="text/javascript" src="__NN__/layui.js"></script> 
<script>
	layui.use(['layer','jquery','form','laydate','element'], function(){
		
		//弹出层
	  	var $ = layui.$ //重点处
	  	,layer = layui.layer;
	  	$('.subscribe').click(function(){
	  		layer.open({
			  type: 1, 
			  title: false, // false  '请长按识别二维码'
			  content: '<img src="/Public/erweima.jpg" style="width:250px;height:250px;"/>'
			});
	  	});
	  	
	  	$('.back').click(function(){
	  		window.location.href = "{:U('Shop/dians')}";
	  	});
	  	
	  	//手风琴
		var element = layui.element;
  		//…
	  	
	});
	
</script>
</html>