<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$shop_title}发红包</title>    
    <meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__CSS__/layui.css" media="all">	
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
     <style>     	
     	.subscribe{ 
     		padding: 10px 0;
     		color: red;
     		font-size: 15px;
     		text-align: center;
     		width: 90%;
     		margin: 0 auto;
     	}
     	.title{
     		width: 100%;
     		text-align: center;
     		padding: 10px 0;
     		background-color: #09F;
     		color: #fff;
     		font-size: 15px;
     	}	  
     	.title i{
     		text-align: left;
     	}   	
     	
     	form{margin-top: 10px;}   
     	.layui-input-block{margin-right: 20px;}	
     	
     	.hide{display: none;}
     	.text-left{text-align:left; width: 60%;}
     </style>
</head>
<body>
	<if condition="$user.subscribe != 1">
		<div class="subscribe">您未关注，请点击关注</div>
	</if>
	
	<div class="title layui-row">
		<div class="layui-col-xs2 back"><i class="layui-icon">&#xe65c;</i> </div>
		<div class="layui-col-xs8">{$shop_title}</div>
		<div class="layui-col-xs2"></div>
	</div>
	
	<form class="layui-form" method="post" action="{:U('Shop/dosendhb')}">
			  	
	  <div class="layui-form-item">
	    <label class="layui-form-label">每日金额</label>
	    <div class="layui-input-block">
	      <input type="text" name="everymoney" required  lay-verify="required|number" placeholder="单位：元" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  
	   <div class="layui-form-item">
	    <label class="layui-form-label">发放天数</label>
	    <div class="layui-input-block">
	      <input type="text" name="num" required  lay-verify="required|number" class="layui-input" >
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">类型</label>
	    <div class="layui-input-block">
	      	<input type="radio" name="type" value="普通" title="普通" lay-filter="type" checked>
      		<input type="radio" name="type" value="拼手气" title="拼手气" lay-filter="type">
	    </div>
	  </div>
	  
	  <div class="layui-form-item pt">
	    <label class="layui-form-label">单个金额</label>
	    <div class="layui-input-block">
	      <input type="text" name="ptmoney" required  lay-verify="required" placeholder="单位：元" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  <div class="layui-form-item pt">
	    <label class="layui-form-label"></label>
	    <label class="layui-form-label text-left">
	    	约 <span class="show1"></span> 人领取
	    </label>
	  </div>
	  
	  <div class="layui-form-item psq">
	    <label class="layui-form-label">最低金额</label>
	    <div class="layui-input-block">
	      <input type="text" name="psqmoney1" required  lay-verify="required" placeholder="单位：元" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  <div class="layui-form-item psq">
	    <label class="layui-form-label">最高金额</label>
	    <div class="layui-input-block">
	      <input type="text" name="psqmoney2" required  lay-verify="required" placeholder="单位：元" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  <div class="layui-form-item psq">
	    <label class="layui-form-label"></label>
	    <label class="layui-form-label text-left">
	    	约 <span class="show3"></span> ~ <span class="show2"></span> 人领取
	    </label>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">是否口令</label>
	    <div class="layui-input-block">
	      <input type="checkbox" name="iskl" lay-skin="switch" lay-filter="iskl">
	    </div>
	  </div>
	  <div class="layui-form-item kl">
	    <label class="layui-form-label">口令</label>
	    <div class="layui-input-block">
	      <input type="text" name="kl" required  lay-verify="required" placeholder="您的红包口令" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">可领区域</label>
	    <div class="layui-input-block">
	      <select name="area" lay-verify="required">
	        <option value=""></option>
	        <option value="1">3km</option>
	        <option value="2">5km</option>
	        <option value="3">20km</option>
	        <option value="4">不限</option>
	      </select>
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">起始时间</label>
	    <div class="layui-input-block">
	      <input type="text" name="gettime" required  lay-verify="required" class="layui-input" id="gettime" readonly placeholder="请点击选择时间">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">手续费</label>
	    <label class="layui-form-label text-left">
	    	<span class="everymoney"></span>元 * {$sxf}% * <span class="num"></span>天 = <span class="sxf"></span>元
	    </label>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">总金额</label>
	    <label class="layui-form-label text-left">
	    	<span class="everymoney"></span>元  * <span class="num"></span>天 + <span class="sxf"></span>元 = <span class="money"></span>元
	    </label>
	  </div>
	  
	  <input type="hidden" name="iskl" value="0" />
	  <input type="hidden" name="shopid" value="{$shopid}" />
	  <input type="hidden" name="sxf" value="0" />
	  <input type="hidden" name="money" value="0" />
	  
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn layui-btn-normal " lay-submit lay-filter="formDemo">下一步</button>
	    </div>
	  </div>
	</form>
	
	
</body>
 
<script type="text/javascript" src="__NN__/layui.js"></script> 
<script>
	layui.use(['layer','jquery','form','laydate'], function(){
		
		//弹出层
	  	var $ = layui.$ //重点处
	  	,layer = layui.layer;
	  	$('.subscribe').click(function(){
	  		layer.open({
			  type: 1, 
			  title: false, // false  '请长按识别二维码'
			  content: '<img src="/Public/erweima.jpg" style="width:250px;height:250px;"/>'
			});
	  	});
	  	
	  	$('.back').click(function(){
	  		window.location.href = "{:U('Shop/dians')}";
	  	});
	  	
		var form = layui.form;
		//监听提交
		form.on('submit(formDemo)', function(data){
			
			var obj = data.field;
			if(obj.everymoney == '0'){
				layer.msg('每日金额不能为0');return false;
			}
			if(obj.type == '普通'){
				if(obj.ptmoney == '0'){
					layer.msg('单个金额不能为0');return false;
				}
			}else if(obj.type == '拼手气'){
				if(obj.psqmoney1 == '0'){
					layer.msg('最低金额不能为0');return false;
				}
				if(obj.psqmoney2 == '0'){
					layer.msg('最高金额不能为0');return false;
				}
			}
			if(obj.iskl == '1'){
				if(obj.kl == ''){
					layer.msg('口令不能为空');return false;
				}
			}
			if(obj.num == '0'){
				layer.msg('发放天数不能为0');return false;
			}
			if(obj.money == '0.00'){
				layer.msg('总金额不能为0');return false;
			}

		});
		
		var _nradio = '普通';
		nradio(_nradio);
		form.on('radio(type)', function(data){
		  _nradio = data.value;
		  nradio(data.value);
		});  
		function nradio(i){
			if(i == '普通'){
				$('.pt').show();
				$('.psq').hide();
			}
			if(i == '拼手气'){
				$('.pt').hide();
				$('.psq').show();
			}
			calc_show(i);
			$('input[name=ptmoney]').val(0);
			$('input[name=psqmoney1]').val(0);
			$('input[name=psqmoney2]').val(0);
		}
		
		klinit();
		form.on('switch(iskl)', function(data){
		  //layer.msg(data.elem.checked); //开关是否开启，true或者false
		  var cc = data.elem.checked;
		  if(cc == true){
		  	$('.kl').show();
			$('input[name=kl]').val('');
			$('input[name=iskl]').val(1);
		  }else{
		  	$('.kl').hide();
			$('input[name=kl]').val(0);
			$('input[name=iskl]').val(0);
		  }
		});  
		function klinit(){
			$('.kl').hide();
			$('input[name=kl]').val(0);
		}
		
		var laydate = layui.laydate;
		laydate.render({
		    elem: '#gettime' 
            ,type: 'datetime'
		});
		
		calc_money();
		$('input[name=everymoney]').change(function(){
			var val = $(this).val();
			val = parseInt(val);
			$('.everymoney').html(val);
			calc_money();
		});
		$('input[name=num]').change(function(){
			var val = $(this).val();
			val = parseInt(val);
			$('.num').html(val);
			calc_money();
			calc_show(_nradio);
		});
		function calc_sxf(){
			var everymoney = $('input[name=everymoney]').val();
			var sxfv = '{$sxf}';
			var num = $('input[name=num]').val();
			everymoney = everymoney == ''? 0 : parseInt(everymoney);
			sxfv = parseFloat(sxfv);
			num = num == ''? 0 : parseInt(num);
			var sxf = everymoney * sxfv / 100 * num;
			sxf = sxf.toFixed(2); 
			$('.everymoney').html(everymoney);
			$('input[name=everymoney]').val(everymoney);
			$('.num').html(num);
			$('input[name=num]').val(num);
			$('.sxf').html(sxf);
			$('input[name=sxf]').val(sxf);
		}
		function calc_money(){
			calc_sxf();
			var everymoney = $('input[name=everymoney]').val();
			var num = $('input[name=num]').val();
			var sxf = $('.sxf').html();
			everymoney = everymoney == ''? 0 : parseInt(everymoney);
			num = num == ''? 0 : parseInt(num);
			sxf = parseFloat(sxf);
			sxf = sxf.toFixed(2); 
			var money = everymoney * num + parseFloat(sxf);
			money = money.toFixed(2); 
			$('.money').html(money);
			$('input[name=money]').val(money);
		}
		
		$('input[name=ptmoney]').change(function(){			
			calc_show('普通');
		});
		$('input[name=psqmoney1]').change(function(){			
			calc_show('拼手气');
		});
		$('input[name=psqmoney2]').change(function(){			
			calc_show('拼手气');
		});
		function calc_show(i){
			var everymoney = $('input[name=everymoney]').val();
			var num = $('input[name=num]').val();
			everymoney = everymoney == ''? 0 : parseInt(everymoney);
			num = num == ''? 0 : parseInt(num);
			
			if(i == '普通'){
				var ptmoney = $('input[name=ptmoney]').val();
				ptmoney = ptmoney == ''? 0 : parseFloat(ptmoney);
				if(ptmoney == '0'){
					var show1 = 0;
				}else{
					var show1 = everymoney / ptmoney * num;
					show1 = parseInt(show1);
				}
				$('.show1').html(show1);
			}
			if(i == '拼手气'){
				var psqmoney1 = $('input[name=psqmoney1]').val();				
				psqmoney1 = psqmoney1 == ''? 0 : parseFloat(psqmoney1);
				if(psqmoney1 == '0'){
					var show2 = 0;
				}else{
					var show2 = everymoney / psqmoney1 * num;
					show2 = parseInt(show2);
				}
				$('.show2').html(show2);
				
				var psqmoney2 = $('input[name=psqmoney2]').val();
				psqmoney2 = psqmoney2 == ''? 0 : parseFloat(psqmoney2);
				if(psqmoney2 == '0'){
					var show3 = 0;
				}else{
					var show3 = everymoney / psqmoney2 * num;
					show3 = parseInt(show3);
				}	
				$('.show3').html(show3);			
			}
		}
		
	});
	
</script>
</html>